head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 运营平台
    link(rel='stylesheet', href='/theme2/s/css/theme/css/bootstrap.css')
    link(rel='stylesheet', href='/theme2/s/css/theme/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/theme2/s/css/theme/css/font.css')
    link(rel='stylesheet', href='/theme2/s/css/theme/css/theme2/styles.css')
    link(rel='stylesheet', href='/theme2/s/css/theme/css/toastr.css')
    link(rel='stylesheet', href='/theme2/s/css/theme/css/dpmetro.css')
    link(rel='stylesheet', href='/theme2/s/css/op/dpupload/dpupload.css')
    script(src='/theme2/s/js/op/lib/dpupload/theme2/swfupload.js')
    script(src='/theme2/s/js/op/lib/dpupload/theme2/swfupload.speed.js')
    script(src='/theme2/s/js/op/lib/dpupload/theme2/swfupload.cookies.js')
    script(src='/theme2/s/js/op/lib/dpupload/progressbar.js')
    script(src='/theme2/s/js/op/lib/dpupload/dpupload.js')
    script(src='/theme2/s/js/op/lib/theme2/seajs.js')
    script(src='/theme2/s/js/op/lib/header.js')

body
    div#in-nav
        .container
            .row
                .span12
                    ul.pull-right
                        li
                            a(href="http://op.t.51ping.com/manage/index",target="_blank") 老权限
                        li
                            a(href="http://op.t.51ping.com/api/config",target="_blank") API Config
                        li
                            a(href="http://op.t.51ping.com/moduleBlack/list",target="_blank") 团购黑名单
                        li
                            a(href="http://op.t.51ping.com/weibo/weiboDeal",target="_blank") 微博管理
                        li
                            a(href="http://op.t.51ping.com/hotel/hotelRecommendScore",target="_blank") 推荐单管理
                        li
                            a(href="http://op.t.51ping.com/deal/dealShop",target="_blank") 商户总店
                        li
                            a(href="http://op.t.51ping.com/theme2/shantuan/theme2/shantuanManagement",target="_blank") 闪团管理
                        li
                            a(href="http://admin.t.51ping.com/giftcard/index",target="_blank") 礼品卡
                        li
                            a(href="http://op.t.51ping.com/account/logout") 退出
                    h4
                        strong 用户：
                Rockey
    #in-sub-nav
        .container
            .row
                .span12
                    .logo
                        a(href="/index")
                            img(src="/theme2/stylesheets/images/logo.png")
                    ul
                        li
                            a.active(href="/index")
                                i.batch.home
                                br
                                | 运营活动
                        li
                            a(href="/advertise/list")
                                i.batch.stream
                                br
                                | 运营推广
                        li
                            a(href="http://op.t.51ping.com/promocode/paginatePromoCode")
                                i.batch.calendar
                                br
                                | 资源管理
                        li
                            a(href="#")
                                i.batch.plane
                                br
                                | 资源发放
                        li
                            a(href="#")
                                i.batch.rule
                                br
                                | 规则管理
                        li
                            a(href="/portal/opuser/index")
                                i.batch.users
                                br
                                | 权限管理
                        li
                            a(href="#")
                                i.batch.settings
                                br
                                | 个人设置